[Desktop Entry]
Categories=Utility;
Comment=Network manager systray applet
Name=NM-Applet
StartupNotify=true
Terminal=false
Type=Application
Exec=/usr/bin/nm-applet
